#team {
    background: #fff;
    padding: 30px 0 0 0;
  }
  
  #team .member {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #team .member .pic {
    overflow: hidden;
    text-align: center;
  }
  
  #team .member .pic img {
    max-width: 100%;
  }
  
  #team .member .details {
    background: #17b631;
    color: #fff;
    padding: 15px;
    border-radius: 0 0 3px 3px;
  }
  
  #team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  
  #team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  #team .member .social {
    margin-top: 5px;
  }
  
  #team .member .social a {
    color: #fff;
  }
  
  #team .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }