<section id="clients" class="wow fadeInUp">
    <div class="container">
      <div *ngIf="description" class="section-header">
        <h2 class="custom-light">Clients</h2>
        <p>{{description}}</p>
      </div>

      <div class="owl-carousel clients-carousel owl-theme">
        <img loading="lazy" [src]="carousel_1" alt="carousel-1">
        <img loading="lazy" [src]="carousel_2" alt="carousel-2">
        <img loading="lazy" [src]="carousel_3" alt="carousel-3">
        <img loading="lazy" [src]="carousel_4" alt="carousel-4">
        <img loading="lazy" [src]="carousel_5" alt="carousel-5">
        <img loading="lazy" [src]="carousel_6" alt="carousel-6">
        <img loading="lazy" [src]="carousel_7" alt="carousel-7">
        <img loading="lazy" [src]="carousel_8" alt="carousel-8">
      </div>

      
    </div>
  </section>