<app-topbar></app-topbar>
<app-header></app-header>
<div class="wrapper-content">
    <div class="custom-content">
        <h3>Account Settings</h3>
    </div>
    <div class="top-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae voluptatibus incidunt et nisi dolorum odit reiciendis nihil sint corrupti.
    </div>
    <div class="middle-content">
        <div class="card">
            <div class="card-body custom-ul">
                <button class="btn btn-primary">Name</button>
                <button class="btn btn-primary">Password</button>
                <button class="btn btn-primary">More Settings</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus tempore esse, rem dolore, perspiciatis corrupti beatae deserunt odit fuga quos est suscipit aliquam assumenda quisquam ullam enim praesentium eum aspernatur.
            </div>
        </div>
    </div>
</div>
<ng-container #footerComp></ng-container>
