/* You can add global styles to this file, and also import other style files */


@import './assets/custom-style.css';

  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  
  /* Nav Menu Essentials */

  /* Mobile Nav Toggle */
  
  .custom-light {
    color: #89abe0 !important;
  }
  .custom-green {
    color: #17b631 !important;
  }
  #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  
  #mobile-nav-toggle i {
    color: #555;
  }
  
  /* Mobile Nav Styling */
  
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: #89abe0;
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #mobile-nav ul li {
    position: relative;
  }
  
  #mobile-nav ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
  }
  
  #mobile-nav ul li a:hover {
    color: #fff;
  }
  
  #mobile-nav ul li li {
    padding-left: 30px;
  }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
  }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #50d8af;
  }
  
  #mobile-nav ul .menu-item-active {
    color: #50d8af;
  }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(52, 59, 64, 0.9);
    display: none;
  }
  
  /* Mobile Nav body classes */
  
  body.mobile-nav-active {
    overflow: hidden;
  }
  
  body.mobile-nav-active #mobile-nav {
    left: 0;
  }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  
  /* Sections Header
  --------------------------------*/
  
  .section-header {
    margin-bottom: 30px;
  }
  
  .section-header h2 {
    font-size: 32px;
    color: #0c2e8a;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #17b631;
    bottom: 0;
    left: 0;
  }
  
  .section-header p {
    padding: 0;
    margin: 0;
  }
  
  /* Call To Action Section
  --------------------------------*/
  
  #call-to-action {
    background: #081e5b;
    background-size: cover;
    padding: 40px 0;
  }
  
  #call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  #call-to-action .cta-text {
    color: #fff;
  }
  
  #call-to-action .cta-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 10px;
    border: 3px solid #fff;
    color: #fff;
  }
  
  #call-to-action .cta-btn:hover {
    background: #50d8af;
    border: 3px solid #50d8af;
  }


  @media (min-width: 768px) {
    #contact .contact-address,
    #contact .contact-phone,
    #contact .contact-email {
      padding: 20px 0;
    }
  
    #contact .contact-phone {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
  
  @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  
    #header {
      padding: 20px 0;
      height: 74px;
    }
  
    #header #logo h1 {
      font-size: 34px;
    }
  
    #header #logo img {
      max-height: 40px;
    }
  
    #nav-menu-container {
      display: none;
    }
  
    #mobile-nav-toggle {
      display: inline;
    }
  
    #about .about-img {
      height: auto;
    }
  
    #about .about-img img {
      margin-left: 0;
      padding-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    #intro .intro-content h2 {
      font-size: 34px;
    }
  
    #services .box .box {
      margin-bottom: 20px;
    }
  
    #services .box .icon {
      float: none;
      text-align: center;
      padding-bottom: 15px;
    }
  
    #services .box h4,
    #services .box p {
      margin-left: 0;
      text-align: center;
    }
  
    #testimonials .testimonial-item {
      margin: 30px 10px;
    }
  }
  
  @media (max-width: 576px) {
    #contact #google-map {
      margin-top: 20px;
    }
  }